[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
acme = "*"
cryptography = "*"
distro = "*" # missing dependency of salt
salt = "*"

[dev-packages]
matchlib = "*"
pytest = "*"
